<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Connor W. Kirkwood | Profile</title>
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/lux-bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
	<script src="/assets/jquery/dist/jquery.min.js"></script>
	<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/assets/scripts/feather.min.js"></script>

</head>

<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
				<a class="navbar-brand" href="/">Connor W. Kirkwood</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarColor01">
				  <ul class="navbar-nav mr-auto">
					<li class="nav-item">
					  <a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projects">Projects</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/contact">Contact</a>
					</li>
				  </ul>
				</div>
				<a href="https://www.github.com/ckirkwood7464" target="_blank"><i data-feather="github" class="social-icon mr-3"></i></a>
				<a href="https://www.linkedin.com/in/connorwkirkwood/" target="_blank"><i data-feather="linkedin" class="social-icon"></i></a>
			  </nav>
			  <div class="container main-wrapper">
					<div class="row">
					  <div class="contact-col col-sm-12 col-md-6">
						<div class="profile-image"></div>
					  </div>
					  <div class="contact-col col-sm-12 col-md-6">
						  <div class="jumbotron jumbotron-fluid">
							<div class=contact-stat>
								<h4>Email</h4>
								<a href = "mailto: ckirkwood7464@gmail.com">ckirkwood7464@gmail.com</a>
							</div>
							<div class=contact-stat>
								<h4>GitHub</h4>
								<a href = "https://github.com/ckirkwood7464" target="_blank">My Code Repository</a>
							</div>
							<div class=contact-stat>
								<h4>LinkedIn</h4>
								<a href = "https://www.linkedin.com/in/connorwkirkwood/" target="_blank">My Professional Profile</a>
							</div>
						</div>
					  </div>
					</div>
				  </div>
				  <script>
						feather.replace();
					</script>
</body>

</html>