<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Connor W. Kirkwood | Profile</title>
		<link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/lux-bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/style.css">
		<link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
		<script src="/assets/jquery/dist/jquery.min.js"></script>
		<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/assets/scripts/feather.min.js"></script>
	</head>		
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
			<a class="navbar-brand" href="/">Connor W. Kirkwood</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>	
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/projects">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
				</ul>
			</div>
			<a href="https://www.github.com/ckirkwood7464" target="_blank"><i data-feather="github" class="social-icon mr-3"></i></a>
			<a href="https://www.linkedin.com/in/connorwkirkwood/" target="_blank"><i data-feather="linkedin" class="social-icon"></i></a>
		</nav>
		<div class="container main-wrapper">
			<div class="row">
				<div class="contact-col col-sm-12 col-md-6 col-lg-4">
					<div class="card project-card">
							<img class="card-img-top project-card-img" style="background-image: url('../assets/Images/food-snack-popcorn-movie-theater-33129.jpg');" />
						<div class="card-body">
							<h5 class="card-title">Movie API</h5>
							<p class="card-text">An API that is able to fetch and post movie data from a MYSQL database.</p>
							<a href="https://github.com/ckirkwood7464/movie-api" class="btn btn-primary" target="_blank">See More</a>
						</div>
					</div>
				</div>
				<div class="contact-col col-sm-12 col-md-6 col-lg-4">
					<div class="card project-card">
						<img class="card-img-top project-card-img" style="background-image: url('../assets/Images/american-sports-4198.jpg');" />
						<div class="card-body">
							<h5 class="card-title">NFL API</h5>
							<p class="card-text">An API that is able to fetch and post football team data from a MYSQL database.</p>
							<a href="https://github.com/ckirkwood7464/nfl.api" class="btn btn-primary" target="_blank">See More</a>
						</div>
					</div>
				</div>
				<div class="contact-col col-sm-12 col-md-6 col-lg-4">
					<div class="card project-card">
						<img class="card-img-top project-card-img" style="background-image: url('../assets/Images/Badge-military-icon-by-Hoeda80-580x386.jpg');" />
						<div class="card-body">
							<h5 class="card-title">End of Service</h5>
							<p class="card-text">An Alexa application that will inform you on how many days you have left until your military service is over.</p>
							<a href="https://www.amazon.com/dp/B082T473JX/ref=sr_1_1?keywords=End+of+service&qid=1576528418&s=digital-skills&sr=1-1" class="btn btn-primary" target="_blank">See More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			feather.replace();
		</script>
	</body>			
</html>